---
import Layout from '../layouts/Layout.astro';
import Image from 'astro/components/Image.astro';
---

<Layout>
	<div>
		<div class="text-center px-4">
			<Image
				class="mx-auto my-8"
				src="/gig/feb-2025-malphino-wheres-rei-dj-luca.jpg"
				alt="1st Feb 2025, Malphino, Where's Rei, abnd DJ Luca in West Norwood Portico Gallery"
				width={700}
				height={700} />
		</div>
	</div>
</Layout>
